body{
    background-image :linear-gradient(#104719, #1e792d,#1f8b31);
}

.container { 
    width: 99vw;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form { 
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 10px;
    max-width: 2000px;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #047216;
    text-shadow: 1px 1px 1px black;
}

input, textarea, button {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus, button:hover{
    border-color: #09a71e;
    box-shadow: 5px 0px 9px #474745;
    color: black;
    font-weight: bold;
}


textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #000000;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
 }
 .box {
    width: 450px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    }